/*--GLOBALES-- */
:root {
  --red: #ff003f;
  --black: #0d0813;
  --grey: #474c59;
  --white: #d5dbe5;
  --pureBlack: #000000;
}
* {
  font-family: var(--tituloFont);
}
body {
  background-color: gray;
}
a,
button {
  font-size: 2em;
  font-family: var(--tituloFont);
  text-decoration: none;
}
.cate{
  font-size: 1em!important;
  text-decoration: none;
  color: black;
}
.cate:hover{
  background-color: white;
  cursor: pointer;
  color: red;
}
.goticColor {
  background-color: #ff003f !important;
}

/*--HEADER Y NAV-- */

.logo {
  width: 15%;
  height: auto;
  margin: 2% 0;
}
#navbar {
  margin-bottom: 4rem;
  width: 100%;
}

/*--MAIN-- */

main {
  background-color: #f3f3f3;
}
main img {
  width: 65%;
  border-radius: 2em;
}
main a:hover,
main button:hover {
  background-color: #ffeaeb;
}
.cartaBorde {
  border: 0 !important;
  padding: 0 !important;
  margin: 1em !important;
}
.formulario {
  border-radius: 1em;
}

/*--MEDIA QUERIES-- */

@media screen and (max-width: 780px) {
  .logo {
    width: 80% !important;
  }
  main img {
    width: 80%;
  }
  .formulario {
    width: 95% !important;
  }
}

#carousel {
  position: relative;
  height: 400px;
  overflow: hidden;
}
#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}
.carousel-image {
  opacity: 0.5;
  transition: opacity 0.2s;
}

#carousel div img {
  width: 400px;
  transition: width 1s;
}
#carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideLeft img {
  width: 200px;
}
#carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideRight img {
  width: 200px;
}
#carousel div.prev {
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);
}
#carousel div.prev img {
  width: 300px;
}
#carousel div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.prevLeftSecond img {
  width: 200px;
}
#carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}

#carousel div.next {
  z-index: 5;
  left: 70%;
  transform: translateY(50px) translateX(-50%);
}
#carousel div.next img {
  width: 300px;
}
#carousel div.nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.nextRightSecond img {
  width: 200px;
}

.buttons {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}

.imgcategorias{
  height: 50px;
  width: 50px;
}

#despensa-tabla {
  display: NONE;
}


.boxshadow {
  -webkit-box-shadow: 10px 10px 5px -3px rgba(96, 130, 167, 0.51);
  -moz-box-shadow: 10px 10px 5px -3px rgba(96, 130, 167, 0.51);
  box-shadow: 10px 10px 5px -3px rgba(46, 15, 15, 0.51);
}


.categoria:hover{
  -webkit-box-shadow: 10px 10px 5px -3px rgba(96, 130, 167, 0.51);
  -moz-box-shadow: 10px 10px 5px -3px rgba(96, 130, 167, 0.51);
  box-shadow: 10px 10px 4px -1px rgba(139, 12, 12, 0.51);
  transition: 0.3s;
  cursor: pointer;
}
button{
  border: 0!important;
  width: 100%;
}

.selected {
  position: relative; /* Agregar posición relativa */
}

.selected:hover img {
  opacity: 0.7;
}

.botones-ocultos {
  display: none;
  position: absolute; /* Agregar posición absoluta */
  top: 50%; /* Alinear en el centro verticalmente */
  left: 50%; /* Alinear en el centro horizontalmente */
  transform: translate(-50%, -50%); /* Alinear en el centro exacto */
}
.botones-ocultos:hover svg:hover{
  background-color: rgb(0, 0, 0)!important;
  transition: .3s;
  cursor: pointer;
}

.selected:hover .botones-ocultos {
  display: block;
}
.balda{
  background-image: url(../img/baldas.png);
}