/* PROFILE */
body {
    height: 100dvh !important;
}

header {
    height: 76px;
    z-index: 999 !important;
}

footer {
    height: 35px !important;
}

.logo-nav {
    width: 256px;
  }

#profilePanel {
    min-height: calc(100vh - 128px) !important;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
    align-items: start !important;
}

#profileMenuButton {
    padding: 0px !important;

}

#profileMenu {
    top: 0 !important;
    left: 0 !important;
    opacity: 0.9 !important;
    height: 100dvh !important;
    z-index: 999 !important;
    position: absolute !important;

}

.cursor-pointer{
    cursor: pointer;
}

.cuadrodivdir {
    min-width: 26vh;
}
.shadow {
    box-shadow: 0 0.5rem 1rem rgba(var(--bs-body-color-rgb),.15)!important;
}
#cart {
    background-image: url(../img/cart.png);
    background-size: 100% 80%;
    background-position: center;
    background-repeat: no-repeat;
    color: transparent !important;
  }
  
  .hei {
    height: 40px !important;
  }
  @media (max-width: 778px) {
      header {
          height: 86px;
    }
  
    #navbar {
        justify-content: center !important;
    }
    
    #navbar > a {
        justify-content: center !important;
    }
}
@media (max-width: 1054px) {
    #navbar {
        justify-content: center !important;
    }
    
    #menu-logo {
      margin-inline-end: auto !important;
    }
    
    header {
        height: 86px;
    }
}
@media (max-width: 760px) {
  .usu {
    font-size: 0.8rem !important;
  }
}
@media (max-width: 330px) {
  .margin-nav-bar {
    margin-right: 1rem!important;
    margin-left: -1rem!important;
  }
}
.nav-margin {
  margin-right: 1.5rem !important;
}
@media (max-width: 362px) {
    .nav-margin {
      width: 20% !important;
      display: grid !important;
      grid-template-columns: 1fr 1fr !important;
    }
    #menu-logo {
      margin-right: 20px !important;
    }
  }